# Godot-specific ignores
.import/
export.cfg
# export_presets.cfg

# Mono-specific ignores
.mono/

.godot/editor/favorites

.godot/editor/favorites.Node

builds/

promo/

data_*/
.DS_Store
.godot
target/ModelExplorer.app/Contents
target
.github/dagger/.dagger_storage
.github/dagger/cue.mod
build
third_party
