[submodule "vrm"]
	path = addons/vrm
	url = https://github.com/V-Sekai/godot-vrm.git
[submodule "Godot-MToon-Shader"]
	path = addons/Godot-MToon-Shader
	url = https://github.com/V-Sekai/Godot-MToon-Shader.git
